<div id="inSlider" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow animate__zoomIn">
                </div>
            </div>
            {% if site.data.index.banners[0].type == "css-banner" %}
            <div class="header-back header-back--custom" title="{{ site.data.index.banners[0].title }}">
            </div>
            {% else %}
            <div
            class="header-back"
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }}); background-position: top center; background-repeat: no-repeat; background-size: contain;"
            title="{{ site.data.index.banners[0].title }}">
            </div>
            {% endif %}
        </div>

        {% for banner in site.data.index.banners offset:1 %}
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow animate__zoomIn">
                </div>
            </div>
            {% if banner.type == "css-banner" %}
            <div class="header-back header-back--custom" title="{{ banner.title }}">
            </div>
            {% else %}
            <div class="header-back" style="background-image: url({{ "/static/assets/img/"  | prepend: site.baseurl }}{{ banner.src }}); background-position: top center;
    background-repeat: no-repeat; background-size: contain;" title="{{ banner.title }}"></div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
